{% extends 'base.html' %}
{% load static %}

{% block custom_css %}

<link rel="stylesheet" href="{% static '/StyleSheet/sgin-in.css' %}">

<link rel="stylesheet" href="{% static '/StyleSheet/nav2.css' %}">
{% endblock custom_css %}
{% block title %}
Password Change Successfully
{% endblock title %}

{% block navbar %}
{% include 'navbar_all.html' %}
{% endblock navbar %}


{% block main_content %}

<section class="container">
    <div class="signin">
        <h1><span>Password Change Successfully</span></h1>
        <div class="my-4"><iframe src="https://giphy.com/embed/f8UWGF6oCiupG6IxSp" width="200" height="200"
                frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </div>
</section>

{% endblock main_content %}

{% block custom_javascripts %}
<script src="{% static '/Js/nav2.js' %}"></script>
{% endblock custom_javascripts %}