{% extends 'base.html' %}
{% load static %}

{% block custom_css %}

<link rel="stylesheet" href="{% static '/StyleSheet/sgin-in.css' %}">

<link rel="stylesheet" href="{% static '/StyleSheet/nav2.css' %}">

{% endblock custom_css %}
{% block title %}
Signin
{% endblock title %}

{% block navbar %}
{% include 'navbar_all.html' %}
{% endblock navbar %}


{% block main_content %}

<section class="container">
    <div class="signin">
        <h1><span>Reset Password</span></h1>
        <div class="input-name">
            <form action="" method="POST">
                {% csrf_token %}
                <p>Email</p>
                {{form.email}}
                <div>
                    <button type="submit" id="" class="login-btn">Sent</button>
                </div>
            </form>
            <p class="register" style="background:none">Don't have reset you account ? <a
                    href="{% url 'signin' %}"><span>
                        Sing in</span></a></p>
        </div>
    </div>
</section>

{% endblock main_content %}

{% block custom_javascripts %}
<script type="text/javascript">
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    })
</script>

<script src="{% static '\Js/nav2.js' %}"></script>
{% endblock custom_javascripts %}