{% extends 'base.html' %} {% load static %} {% block custom_css %}

<link rel="stylesheet" href="{% static '/StyleSheet/create-event.css' %}" />
<link rel="stylesheet" href="{% static '/StyleSheet/nav2.css' %}" />
{% endblock custom_css %} {% block title %} Create Event {% endblock title %}
{%block navbar %} {% include 'navbar_all.html' %} {% endblock navbar %} 
{% block main_content %}
<section class="home-intro"></section>
<section class="container">
	<div class="signIn-Form">
		<div class="tour">
			<h1 class="welcome">Journey With Tourist<span>Guide</span></h1>
			<p>Our aim is to provide you with a top-quality tour experience</p>
			<img src="image/create-event-illustration.svg" alt="" />
		</div>

		<div class="signin">
			<h1><span>Create Event</span></h1>
			<div class="input-name">
				<form action="{% url 'payment' %}" method="post">
					{% csrf_token %}
					<p>Name</p>
					<input
						class="input-box"
						name="name"
						type="text"
						placeholder="{{request.user.username}}"
						required
					/>
					<p>Email</p>
					<input
						class="input-box"
						name="email"
						type="text"
						placeholder="{{request.user.email}}"
						required
					/>
					<p>People</p>
					<input
						class="input-box"
						name="people"
						type="number"
						placeholder="Person"
						required
					/>
					<!--date and People-->
					<div class="date-people"></div>

					<!--Create Event button-->
					<button class="eventbtn" type="submit" name="">Payment</button>
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock main_content %} {% block custom_javascripts %}

<!--sticky toggle-->
<script type="text/javascript">
	window.addEventListener('scroll', function () {
		var header = document.querySelector('header');
		header.classList.toggle('sticky', window.scrollY > 0);
	});
</script>

<!--Mouseover() function-->
<script>
	function mouseOver() {
		document.getElementById('email').style.color = 'white';
		document.getElementById('email').style.backgroundColor = '#5fbe00';
	}
	function mouseOut() {
		document.getElementById('email').style.color = 'black';
		document.getElementById('email').style.backgroundColor = '#F3F3F3';
	}
	function mouseOverphone() {
		document.getElementById('phone').style.color = 'white';
		document.getElementById('phone').style.backgroundColor = '#5fbe00';
	}
	function mouseOutphone() {
		document.getElementById('phone').style.color = 'black';
		document.getElementById('phone').style.backgroundColor = '#F3F3F3';
	}
</script>
<script src="{% static 'static/Js/nav2.js' %}"></script>
{% endblock custom_javascripts %}
