/* Fonts Import */
@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('../fonts/ProximaNova-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova SemiBold';
	src: url('../fonts/ProximaNova-Semibold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../fonts/ProximaNova-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

/* Color */
:root {
	--primary: #5fbe00;
	--secondary: #101b21;
	--boxText: #5c5c5c;
	--danger: #ff0000;
	--boxBackground: #f8f8f8;
	--white: #ffffff;
	--ternary: #c4c4c4;
	--color: #000000;
	--border: rgba(217, 217, 217, 0.2);
}

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 1140px;
	margin: 0;
	margin: auto;
	padding: 0;
	box-sizing: border-box;
}

.site-logo {
	width: 129px;
	height: 26px;
	display: flex;
	align-items: center;
}
.nav {
	z-index: 10000;
}

header {
	--text: #f4f4f4;
	--text-inverse: #333;
	--background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	transition: background 250ms ease-in;
	background: var(--background);
	color: var(--secondary);
	border-bottom: 1px solid var(--ternary);
}
header > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1140px;
	margin: auto;
	height: 64px;
}

.nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.nav__link {
	--spacing: 1em;
	text-decoration: none;
	color: inherit;
	display: inline-block;
	padding: calc(var(--spacing) / 0.85) var(--spacing);
	position: relative;
	font-family: 'Proxima Nova SemiBold';
	letter-spacing: 2px;
	font-size: 1rem;
}

.nav__list-item .fas {
	color: var(--secondary);
	padding-left: 4px;
	font-size: 10px;
}
.nav__link:after {
	content: '';
	position: absolute;
	bottom: -5px;

	left: var(--spacing);
	right: var(--spacing);
	height: 3px;

	transform-origin: left;
	background: var(--primary);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transition: -webkit-transform 150ms ease-in-out;
	transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	/* left: 100%;
        transform: translate(-20%); */
}

.nav__link:hover::after {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	transform-origin: right;
	/* left: 0%;
        transform: translate(-0%); */
}

.nav__link--btn {
	font-family: 'Proxima Nova SemiBold';
	letter-spacing: 2px;
	font-size: 1rem;
	border: 1.5px solid currentColor;
	border-radius: 2px;
	margin-left: 1em;
	transition: background 250ms ease-in-out;
	letter-spacing: 1px;
	padding: 0.75em 1.5em;
}

.nav__link--btn:hover {
	background: var(--text);
	color: var(--text-inverse);
	border-color: var(--text);
}

.nav__link--btn::after {
	display: none;
}

.nav__link--btn--highlight {
	background: limegreen;
	border-color: limegreen;
	color: #333;
}

.nav__link--btn--highlight:hover {
	background: var(--text);
	border-color: var(--text);
}

.nav-scrolled {
	--text: var(--secondary);
	--text-inverse: var(--white);
	--background: var(--white);
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

/* 
  .drop {
    display: none;
  }
  
  @keyframes pop {
    0% {
      top: 0px;
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
  
    100% {
      top: 65px;
      opacity: 1;
      z-index: 1000;
      width: auto;
    }
  }
  
   */

/* search nav  */
.search-bar-hr p {
	display: inline;
	margin-left: 30px;
	margin-right: 10px;
}
.search-field {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	padding-left: 10px;
	border: 1px solid var(--ternary);
	border-radius: 2px;
}
.searchMain {
	padding: 5px 0;
}

.searchMain input {
	border: 0;
	outline: 0;
	font-family: 'Proxima Nova Regular';
	font-size: 1rem;
	width: 200px;
}
.searchMain label {
	font-family: 'Proxima Nova SemiBold';
	color: var(--secondary);
	font-size: 1rem;
}

.search-location label {
	font-family: 'Proxima Nova SemiBold';
	color: var(--secondary);
	font-size: 1rem;
}

.search-location input {
	border: 0;
	outline: 0;
	font-family: 'Proxima Nova Regular';
	font-size: 1rem;
}
.search-btn {
	background: var(--primary);
	outline: none;
	border: 0;
	padding: 0.6rem 1rem;
	color: var(--white);
	transition: 0.3s all;
	font-size: 18px;
}
.search-btn:hover {
	background: var(--secondary);
}
/*header part start----------------------------------------------------------------- */

.container-width {
	width: 572px;
	position: relative;
	margin-top: 8%;
}

.map iframe {
	margin-top: 64px;
	padding-left: 18px;
}

.main-part {
	display: flex;
}

.all-button {
	display: flex;
	align-items: center;
}

/* dropdown menu work------------------------------------- */

.dropbtn {
	display: flex;
	align-items: center;
	background-color: var(--button-background-color);
	border: 1px solid var(--ternary);
	box-sizing: border-box;
	border-radius: 2px;
	color: var(--paragraph-text);
	padding: 10px 13px;
	font-family: Proxima Nova Regular;
	font-weight: 400px;
	font-size: 16px;
	line-height: 16px;
	cursor: pointer;
}

.dropbtn img {
	height: 6px;
	width: 14px;
	color: var(--paragraph-text);
	padding-left: 20px;
}

.dropdown {
	margin-right: 20px;
}

.dropdown-content {
	border: 0;
	background-color: #f1f1f1;
	min-width: 100%;
	padding: 12px 10px;
	box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.1);
	z-index: 1;
	outline: 0;
}

.dropdown-content a {
	color: var(--paragraph-text);
	font-family: Proxima Nova Regular;
	padding: 12px 10px;
	text-decoration: none;
	display: block;
}

/* dropdown end */

/* other button work start */
.link-button-2,
.link-button-3 {
	font-family: 'Proxima Nova Regular';
	text-decoration: none;
	font-weight: 400px;
	font-size: 12px;
	line-height: 12px;
	border-radius: 2px;
	margin: 0;
	margin-left: 10px;
	color: var(--boxText);
	border: 1px solid var(--ternary);
	box-sizing: border-box;
	padding: 14px 22px;
}
.link-button .link-button-1 {
	font-family: 'Proxima Nova Regular';
	text-decoration: none;
	font-weight: 400px;
	font-size: 12px;
	line-height: 12px;
	border-radius: 2px;
	color: var(--white);
	border: 1px solid var(--ternary);
	box-sizing: border-box;
	padding: 12px 20px;
	background-color: var(--primary);
}

.link-button-1 img {
	padding: 0;
	padding-right: 4px;
	align-items: center;
}
.link-button-2 img {
	margin: 0;
	padding: 0;
	padding-right: 4px;
	align-items: center;
}

.link-button-3 img {
	margin: 0;
	padding: 0;
	padding-right: 4px;
	align-items: center;
}

/* link-button work end */

.header-part .price-range {
	margin: 0;
	margin-top: 14px;
	padding-bottom: 37px;
	border-bottom: 1px solid var(--ternary);
}

.header-part .price-range span {
	color: var(--boxText);
	font-size: 14px;
}
.header-part .search-result {
	margin: 0;
	padding-top: 27px;
	padding-bottom: 20px;
}
.header-part .filter {
	padding-top: 18px;
	padding-bottom: 14px;
}

.header-part h2 {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	font-family: Proxima Nova Regular;
}

form {
	font-size: 14px;
	line-height: 14px;
	font-family: 'Proxima Nova Regular';
	font-weight: 400;
	color: var(--boxText);
	margin: 0;
	padding-bottom: 20px;
}
.checkbox-design {
	margin: 0;
	padding-left: 7px;
}
.space-draw {
	margin: 0;
	padding-bottom: 7px;
	display: flex;
	align-items: center;
}

/* header part work end */

/* article part start */

.Destination-place {
	width: 270px;
	height: 307px;
	border: 1px solid var(--ternary);
	border-radius: 2px;
}

.Destination-place > img {
	width: 270px;
	height: 185px;
	object-fit: center;
}
.destination-place-all-info {
	padding: 13px;
}
.destination-place-all-info h2 {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	font-family: 'Proxima Nova SemiBold';
}
.more-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding-top: 7px;
	padding-bottom: 10px;
}
.more-info .rate {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	font-family: 'Proxima Nova Regular';
	color: var(--white);
	background-color: var(--primary);
	margin: 0;
	padding: 0;
	padding: 1px 6px;
}
.more-info .num-rat,
.money {
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	color: var(--boxText);
	font-family: 'Proxima Nova Regular';
	margin: 0;
	padding: 0;
	border-right: 1px solid var(--boxText);
	padding-right: 10px;
}
.money span {
	color: var(--danger);
	font-size: 12px;
	line-height: 12px;
	font-weight: 400px;
	margin: 0;
	padding: 0;
}

.more-info .hotel-icon {
	color: var(--boxText);
	font-family: 'Proxima Nova Regular';
	font-size: 12px;
	line-height: 12px;
	font-weight: 400px;
	margin: 0;
	padding: 0;
}
.more-info.hotel-icon,
.fas {
	color: var(--boxText);
	width: 12px;
	height: 10px;
	padding-left: 11px;
	margin: 0;
	padding: 0;
	padding-right: 11px;
}
.paragraph-content {
	overflow: hidden;
	font-size: 12px;
	color: var(--paragraph-text);
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 13px;
	font-family: 'Proxima Nova Regular';
}

.Destination-place-history {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 31px;
	margin-bottom: 157px;
}
/* Found Result */
.found-resutl {
	display: flex;
	justify-content: space-between;
}
#fullMenu {
	border: 0;
	width: 34px;
	cursor: pointer;
	background-color: #fff !important;
}
/* footer part start---------------------- */

footer {
	background-color: var(--secondary);
}

* {
	margin: 0;
	padding: 0;
}

.footer-container {
	width: 1140px;
	margin: auto;
	display: flex;
	padding-top: 73px;
	padding-bottom: 53px;
}

.footer-half-container {
	position: relative;
	width: 50%;
}

.footer-logo img {
	position: absolute;
	left: -6px;
	width: 129px;
	height: 26px;
	object-fit: cover;
	top: 4px;
}

.footer-logo a {
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.footer-article {
	margin-top: 45px;
	font-family: 'Proxima Nova Regular';
	font-weight: 400;
	color: var(--white);
	font-size: 16px;
	padding-right: 100px;
	margin-bottom: 40px;
}

.footer-location p {
	color: var(--white);
	font-family: 'Proxima Nova Regular';
	font-weight: 400;
	text-align: left;
	padding-bottom: 15px;
	margin: 0;
}
.footer-location a {
	color: var(--white);
	font-family: 'Proxima Nova Regular';
	font-weight: 400;
	text-align: left;
	text-decoration: none;
}
.footer-location .fas,
.far {
	color: var(--white);
	font-size: 16px;
	padding-right: 16px;
}
#active {
	color: var(--primary);
}
.footer-social-icon .fab {
	color: var(--white);
	font-size: 16px;
	margin-top: 20px;
	padding-right: 15px;
	transition: 0.3s all;
}

.footer-social-icon .fab:hover {
	color: var(--primary);
}

.receive-update h1 {
	color: var(--white);
	font-family: 'Proxima Nova Bold';
	font-weight: 700;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
.receive-update > div {
	background-color: var(--white);
	width: 570px;
	height: 40px;
	border-radius: 5px;
}
.receive-update input {
	padding: 10px 0;
	padding-left: 25px;
	border: 0;
	outline: 0;
	color: var(--secondary);
	font-size: 16px;
	font-family: 'Proxima Nova Regular';
	border-radius: 5px;
}
.receive-update a {
	text-decoration: none;
	color: var(--white);
	font-family: 'Proxima Nova SemiBold';
	font-size: 16px;
	font-weight: 600;
	text-align: right;
	margin-left: 280px;
	background-color: var(--secondary);
	padding: 0.5rem 1.75rem;
	border-radius: 5px;
	transition: 0.3s all;
}
.receive-update a:hover {
	background-color: var(--primary);
}
.footer-link {
	display: grid;
	margin-top: 43px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
}
.touristguide-link h3,
.help-link h3,
.about-us h3 {
	font-family: 'Proxima Nova SemiBold';
	font-size: 20px;
	color: var(--white);
	margin-bottom: 20px;
}

.touristguide-link li,
.help-link li,
.about-us li {
	list-style: none;
	margin-bottom: 10px;
}
.touristguide-link a,
.help-link a,
.about-us a {
	text-decoration: none;
	color: var(--white);
	font-family: 'Proxima Nova Regular';
	font-size: 16px;
}
.touristguide-link a:hover,
.help-link a:hover,
.about-us a:hover {
	text-decoration: underline;
}
footer hr {
	border: 1px solid var(--boxBackground);
}

.copyright {
	text-align: center;
	color: var(--white);
	font-family: 'Proxima Nova Regular';
	font-size: 16px;
	padding: 31px 0;
}
.copyright a {
	text-decoration: none;
	color: var(--primary);
	font-family: 'Proxima Nova Regular';
	font-size: 16px;
}
