/* Fonts Import */
@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova SemiBold";
  src: url("../fonts/ProximaNova-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/ProximaNova-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* Color */
:root {
  --primary: #5fbe00;
  --secondary: #101b21;
  --boxText: #5c5c5c;
  --paragraph-text: #000000;
  --danger: #ff0000;
  --boxBackground: #f8f8f8;
  --boxBackground: #f3f3f3;
  --white: #ffffff;
  --ternary: #c4c4c4;
  --love: #ff6262;
  --button-background-color: #fafafa;
  --icon-colour: #4a4a4a;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.site-logo {
  width: 129px;
  height: 26px;
  display: flex;
  align-items: center;
}
.nav {
  z-index: 10000;
}

header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--secondary);
  border-bottom: 1px solid var(--ternary);
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  margin: auto;
  height: 64px;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 0.85) var(--spacing);
  position: relative;
  font-family: "Proxima Nova SemiBold";
  letter-spacing: 2px;
  font-size: 1rem;
}
/* .dropdown {
    overflow: hidden;
  }
  .dropdown-menu {
    position: absolute;
    height: 42px;
    background-color: var(--white);
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    top: 65px;
    animation-name: pop;
    animation-duration: 1s;
  }
  
  .dropdown-menu a {
    font-family: "Proxima Nova SemiBold";
    letter-spacing: 2px;
    font-size: 1rem;
    padding-left: 1.5rem;
    text-decoration: none;
    color: var(--secondary);
    display: block;
    padding: 0 20px;
  }
  .dropdown-menu a::after {
    content: "";
    bottom: -11px;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    transform-origin: left;
    background: var(--primary);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  } */

.nav__list-item .fas {
  color: var(--secondary);
  padding-left: 4px;
  font-size: 10px;
}
.nav__link:after {
  content: "";
  position: absolute;
  bottom: -5px;

  left: var(--spacing);
  right: var(--spacing);
  height: 3px;

  transform-origin: left;
  background: var(--primary);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  /* left: 100%;
        transform: translate(-20%); */
}

.nav__link:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: right;
  /* left: 0%;
        transform: translate(-0%); */
}

.nav__link--btn {
  font-family: "Proxima Nova SemiBold";
  letter-spacing: 2px;
  font-size: 1rem;
  border: 1.5px solid currentColor;
  border-radius: 2px;
  margin-left: 1em;
  transition: background 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
}

.nav__link--btn:hover {
  background: var(--text);
  color: var(--text-inverse);
  border-color: var(--text);
}

.nav__link--btn::after {
  display: none;
}

.nav__link--btn--highlight {
  background: limegreen;
  border-color: limegreen;
  color: #333;
}

.nav__link--btn--highlight:hover {
  background: var(--text);
  border-color: var(--text);
}

.nav-scrolled {
  --text: var(--secondary);
  --text-inverse: var(--white);
  --background: var(--white);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

/* 
  .drop {
    display: none;
  }
  
  @keyframes pop {
    0% {
      top: 0px;
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
  
    100% {
      top: 65px;
      opacity: 1;
      z-index: 1000;
      width: auto;
    }
  }
  
   */

/* search nav  */
.search-bar-hr p {
  display: inline;
  margin-left: 30px;
  margin-right: 10px;
}
.search-field {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  border: 1px solid var(--ternary);
  border-radius: 2px;
}
.searchMain {
  padding: 5px 0;
}

.searchMain input {
  border: 0;
  outline: 0;
  font-family: "Proxima Nova Regular";
  font-size: 1rem;
  width: 200px;
}
.searchMain label {
  font-family: "Proxima Nova SemiBold";
  color: var(--secondary);
  font-size: 1rem;
}

.search-location label {
  font-family: "Proxima Nova SemiBold";
  color: var(--secondary);
  font-size: 1rem;
}

.search-location input {
  border: 0;
  outline: 0;
  font-family: "Proxima Nova Regular";
  font-size: 1rem;
}
.search-btn {
  background: var(--primary);
  outline: none;
  border: 0;
  padding: 0.6rem 1rem;
  color: var(--white);
  transition: 0.3s all;
  font-size: 18px;
}
.search-btn:hover {
  background: var(--secondary);
}

/* MAIN PART START  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header-part {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: var(--secondary);
  padding-top: 104px;
  font-family: "Proxima Nova Bold";
}

.accordion {
  max-width: 1000px;
  margin: 34px auto;
  max-width: 1000px;
  padding-bottom: 71px;
}
.accordion-item {
  width: 987px;
  background-color: #fff;
  border: 1px solid var(--boxText);
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 30px;
}
.accordion-item:hover {
  border: 1px solid var(--primary);
}

.accordion-item-header {
  padding: 14px 0px 14px 30px;
  font-weight: bold;
  display: flex;
  color: var(--boxText);
  font-family: "Proxima Nova SemiBold";
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header:hover {
  color: var(--primary);
}
.accordion-item-header::after {
  content: "\f078";
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  position: absolute;

  right: 2rem;
  padding-bottom: 5px;
}

.accordion-item-header.active::after {
  content: "\f077";
  font-size: 16px;
  font-family: "Font Awesome 5 Free";
  padding-top: 5px;
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  line-height: 24px;
}
.accordion-item-body-content {
  padding: 15px 109px 29px 30px;
  line-height: 1.5rem;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

/* FOOTER START */

footer {
  background-color: var(--secondary);
}

* {
  margin: 0;
  padding: 0;
}

.footer-container {
  width: 1140px;
  margin: auto;
  display: flex;
  padding-top: 73px;
  padding-bottom: 53px;
}

.footer-half-container {
  position: relative;
  width: 50%;
}

.footer-logo img {
  position: absolute;
  left: -6px;
  width: 129px;
  height: 26px;
  object-fit: cover;
  top: 4px;
}

.footer-logo a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.footer-article {
  margin-top: 45px;
  font-family: "Proxima Nova Regular";
  font-weight: 400;
  color: var(--white);
  font-size: 16px;
  padding-right: 100px;
  margin-bottom: 40px;
}

.footer-location p {
  color: var(--white);
  font-family: "Proxima Nova Regular";
  font-weight: 400;
  text-align: left;
  padding-bottom: 15px;
  margin: 0;
}
.footer-location a {
  color: var(--white);
  font-family: "Proxima Nova Regular";
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}
.footer-location .fas,
.far {
  color: var(--white);
  font-size: 16px;
  padding-right: 16px;
}
#active {
  color: var(--primary);
}
.footer-social-icon .fab {
  color: var(--white);
  font-size: 16px;
  margin-top: 20px;
  padding-right: 15px;
  transition: 0.3s all;
}

.footer-social-icon .fab:hover {
  color: var(--primary);
}

.receive-update h1 {
  color: var(--white);
  font-family: "Proxima Nova Bold";
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.receive-update > div {
  background-color: var(--white);
  width: 570px;
  height: 40px;
  border-radius: 5px;
}
.receive-update input {
  padding: 10px 0;
  padding-left: 25px;
  border: 0;
  outline: 0;
  color: var(--secondary);
  font-size: 16px;
  font-family: "Proxima Nova Regular";
  border-radius: 5px;
}
.receive-update a {
  text-decoration: none;
  color: var(--white);
  font-family: "Proxima Nova SemiBold";
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  margin-left: 280px;
  background-color: var(--secondary);
  padding: 0.5rem 1.75rem;
  border-radius: 5px;
  transition: 0.3s all;
}
.receive-update a:hover {
  background-color: var(--primary);
}
.footer-link {
  display: grid;
  margin-top: 43px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.touristguide-link h3,
.help-link h3,
.about-us h3 {
  font-family: "Proxima Nova SemiBold";
  font-size: 20px;
  color: var(--white);
  margin-bottom: 20px;
}

.touristguide-link li,
.help-link li,
.about-us li {
  list-style: none;
  margin-bottom: 10px;
}
.touristguide-link a,
.help-link a,
.about-us a {
  text-decoration: none;
  color: var(--white);
  font-family: "Proxima Nova Regular";
  font-size: 16px;
}
.touristguide-link a:hover,
.help-link a:hover,
.about-us a:hover {
  text-decoration: underline;
}
footer hr {
  border: 1px solid var(--boxBackground);
}

.copyright {
  text-align: center;
  color: var(--white);
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  padding: 31px 0;
}
.copyright a {
  text-decoration: none;
  color: var(--primary);
  font-family: "Proxima Nova Regular";
  font-size: 16px;
}
