<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Destination - Tourist Guide</title>
   <link rel="stylesheet" href="./StyleSheet/Destination.css">

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

</head>

<body>
   <header>

      <div class="nav container">
         <a
           onMouseOver="removePopup()"
           href="#"
           class="site-logo"
           aria-label="homepage"
           ><img src="logo/Black logo.svg" alt="Tourist Guide Logo"
         /></a>
         <nav class="main-nav">
         <fieldset class="search-field">
             <div class="searchMain">
               <label for="searchFood">What:</label>
               <input
                 type="text"
                 name=""
                 id="searchFood"
                 placeholder="Ex: Famous Food, Famous Place, Way Path"
               />
             </div>
             <div class="search-bar-hr">
               <p>|</p>
             </div>
             <div class="search-location">
               <label for="searchLocation">Where:</label>
               <input
                 type="text"
                 name=""
                 placeholder="Location"
                 id="searchLocation"
               />
             </div>
             <button onclick="window.location.href = 'destination.html'" class="search-btn"><i class="fas fa-search"></i></button>
           </fieldset>
         </nav>
         <nav class="account" onMouseOver="removePopup()">
           <ul class="nav__list">
             <li class="nav__list-item" onMouseOver="removePopup()">
                 <a href="home.html" class="nav__link">Home</a>
               </li>
               <li class="nav__list-item" onMouseOver="removePopup()">
                 <a href="signin.html" class="nav__link">Sign In</a>
               </li>
               <div class="dropdown" onMouseOver="handlePopup()">
                 <li class="nav__list-item active">
                   <a href="registration.html" class="nav__link"
                     >Register</i
                   ></a>
                 </li>
           </ul>
         </nav>
       </div>
   </header>


   <main onMouseOver="removePopup()" class="container main-part">
      <section class="home-intro"></section>
      <section class="container-width">
         <div class="header-part">
            <div class="all-button">
               <div class="dropdown">
                  
                     
                     <select name="cars" id="myDropdown" class="dropdown-content">
                        <option value="all-category">All Category</option>
                        <option value="premium">Premium</option>
                        <option value="economy">Economy</option>
                        <option value="business">Business</option>
                      </select>
                  
               </div>

               <div class="link-button">
                  <a class="link-button-1" href=""><img src="icon/Group 54.svg" alt="">Open Now</a>
                  <a class="link-button-2" href=""><img src="icon/Vector (3).svg" alt="">High Rated</a>
                  <a class="link-button-3" href=""><img src="icon/Vector (2).svg" alt=""> Most Review</a>
               </div>
            </div>

            <h2 class="price-range">Price Range: <span>From</span> 0 <span>to</span> 5000 <span>Taka</span> </h2>

            <h2 class="filter">Filter by tags <i class="fas fa-caret-down"></i></h2>

            <form>
               <div class="space-draw">
                  <input type="checkbox" id="Food" name="vehicle1" value="Food">
                  <label for="vehicle1" class="checkbox-design">Food </label><Br>
               </div>
               <div class="space-draw">
                  <input type="checkbox" id="Restaurant" name="vehicle2" value="Restaurant">
                  <label for="vehicle2" class="checkbox-design">Restaurant </label>
               </div>
               <div class="space-draw">
                  <input type="checkbox" id="Hotel" name="vehicle3" value="Hotel">
                  <label for="vehicle3" class="checkbox-design"> Hotel</label>
               </div>

               <div class="space-draw">
                  <input type="checkbox" id="Bus Services" name="vehicle4" value="way path">
                  <label for="vehicle3" class="checkbox-design">Way Path</label>
               </div>

               <div class="space-draw">
                  <input type="checkbox" id="Bus Services" name="vehicle4" value="Bus Services">
                  <label for="vehicle3" class="checkbox-design">Bus Services</label>
               </div>

            </form>

            <h2 class="search-result">17 Results found</h2>
         </div>
         </div>

         <!-- place history start -->

         <div class="Destination-place-history">
            <div class="Destination-place">
               <img src="./image/destination.png" alt="">

               <article>
                  <div class="destination-place-all-info">
                     <h2>Sunamganj Haor</h2>
                     <div class="more-info">
                        <p class="rate">5.0</p>
                        <p class="num-rat">5 Rating</p>
                        <p class="money">From <span> 1000/-</span></p>
                        <p class="hotel-icon"> <i class="fas fa-hotel"></i> Hotel</p>
                     </div>

                     <p class="paragraph-content">There are some huge haors in the northeast
                        of Bangladesh. The most famous of these is the Tanguar Haor at Taherpur in Sunamganj.</p>



                  </div>
               </article>
            </div>
            <div class="Destination-place">
               <img src="./image/destination.png" alt="">

               <article>
                  <div class="destination-place-all-info">
                     <h2>Sunamganj Haor</h2>
                     <div class="more-info">
                        <p class="rate">5.0</p>
                        <p class="num-rat">5 Rating</p>
                        <p class="money">From <span> 1000/-</span></p>
                        <p class="hotel-icon"> <i class="fas fa-hotel"></i> Hotel</p>
                     </div>

                     <p class="paragraph-content">There are some huge haors in the northeast
                        of Bangladesh. The most famous of these is the Tanguar Haor at Taherpur in Sunamganj.</p>



                  </div>
               </article>

            </div>

            <div class="Destination-place">
               <img src="./image/destination-1.png" alt="">

               <article>
                  <div class="destination-place-all-info">
                     <h2>Sunamganj Haor</h2>
                     <div class="more-info">
                        <p class="rate">5.0</p>
                        <p class="num-rat">5 Rating</p>
                        <p class="money">From <span> 1000/-</span></p>
                        <p class="hotel-icon"> <i class="fas fa-hotel"></i> Hotel</p>
                     </div>

                     <p class="paragraph-content">There are some huge haors in the northeast
                        of Bangladesh. The most famous of these is the Tanguar Haor at Taherpur in Sunamganj.</p>



                  </div>
               </article>

            </div>



            <div class="Destination-place">
               <img src="./image/destination.png" alt="">

               <article>
                  <div class="destination-place-all-info">
                     <h2>Sunamganj Haor</h2>
                     <div class="more-info">
                        <p class="rate">5.0</p>
                        <p class="num-rat">5 Rating</p>
                        <p class="money">From <span> 1000/-</span></p>
                        <p class="hotel-icon"> <i class="fas fa-hotel"></i> Hotel</p>
                     </div>

                     <p class="paragraph-content">There are some huge haors in the northeast
                        of Bangladesh. The most famous of these is the Tanguar Haor at Taherpur in Sunamganj.</p>



                  </div>
               </article>

            </div>

            <div class="Destination-place">
               <img src="./image/destination.png" alt="">

               <article>
                  <div class="destination-place-all-info">
                     <h2>Sunamganj Haor</h2>
                     <div class="more-info">
                        <p class="rate">5.0</p>
                        <p class="num-rat">5 Rating</p>
                        <p class="money">From <span> 1000/-</span></p>
                        <p class="hotel-icon"> <i class="fas fa-hotel"></i> Hotel</p>
                     </div>

                     <p class="paragraph-content">There are some huge haors in the northeast
                        of Bangladesh. The most famous of these is the Tanguar Haor at Taherpur in Sunamganj.</p>



                  </div>
               </article>

            </div>

            <div class="Destination-place">
               <img src="./image/destination.png" alt="">

               <article>
                  <div class="destination-place-all-info">
                     <h2>Sunamganj Haor</h2>
                     <div class="more-info">
                        <p class="rate">5.0</p>
                        <p class="num-rat">5 Rating</p>
                        <p class="money">From <span> 1000/-</span></p>
                        <p class="hotel-icon"> <i class="fas fa-hotel"></i> Hotel</p>
                     </div>

                     <p class="paragraph-content">There are some huge haors in the northeast
                        of Bangladesh. The most famous of these is the Tanguar Haor at Taherpur in Sunamganj.</p>



                  </div>
               </article>

            </div>

            <div class="Destination-place">
               <img src="./image/destination.png" alt="">

               <article>
                  <div class="destination-place-all-info">
                     <h2>Sunamganj Haor</h2>
                     <div class="more-info">
                        <p class="rate">5.0</p>
                        <p class="num-rat">5 Rating</p>
                        <p class="money">From <span> 1000/-</span></p>
                        <p class="hotel-icon"> <i class="fas fa-hotel"></i> Hotel</p>
                     </div>

                     <p class="paragraph-content">There are some huge haors in the northeast
                        of Bangladesh. The most famous of these is the Tanguar Haor at Taherpur in Sunamganj.</p>



                  </div>
               </article>

            </div>

            <div class="Destination-place">
               <img src="./image/destination.png" alt="">

               <article>
                  <div class="destination-place-all-info">
                     <h2>Sunamganj Haor</h2>
                     <div class="more-info">
                        <p class="rate">5.0</p>
                        <p class="num-rat">5 Rating</p>
                        <p class="money">From <span> 1000/-</span></p>
                        <p class="hotel-icon"> <i class="fas fa-hotel"></i> Hotel</p>
                     </div>

                     <p class="paragraph-content">There are some huge haors in the northeast
                        of Bangladesh. The most famous of these is the Tanguar Haor at Taherpur in Sunamganj.</p>



                  </div>
               </article>

            </div>
         </div>
      </section>


      <!-- map-image  -->

      <section class="map">
         <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14604.419329727101!2d90.419638!3d23.779281!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b087026b81%3A0x8fa563bbdd5904c2!2sDhaka!5e0!3m2!1sen!2sbd!4v1631034354092!5m2!1sen!2sbd"
            width="590px" height="1130px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </section>

   </main>

   <footer>
      <div class="footer-container">
        <div class="footer-half-container">
          <div class="footer-logo">
            <a href="./home.html"
              ><img class="footer-logo" src="./logo/White Logo.svg" alt=""
            /></a>
          </div>
          <article>
            <p class="footer-article">
              We earned a reputation of being good at what we do. Let us take
              your online shop to new dimension in success!
            </p>
            <div class="footer-location">
              <p>
                <i class="fas fa-map-marker-alt"></i>Ashulia, Dhaka, Bnagladesh
                1400
              </p>
              <p>
                <a href="touristguide@gmail.com"
                  ><i class="far fa-envelope-open"></i
                    ></i>touristguide@gmail.com</a
                >
              </p>
              <p>
                <a href="+8801865748726"
                  ><i class="fas fa-mobile-alt"></i>+88 01865748726</a
                >
              </p>
            </div>
            <div class="footer-social-icon">
              <a href="#"><i class="fab fa-facebook" id="active"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </article>
        </div>
        <div class="footer-half-container">
          <div class="receive-update">
            <h1>RECEIVE EMAIL UPDATES</h1>
            <div>
                <input type="email" placeholder="Your Email Address" required />
            <a href="#">Join</a>
            </div>
          </div>
    <div class="footer-link">
        <div class="touristguide-link">
            <h3>Tourist Guide</h3>
            <ul>
              <li><a href="../About-us.html">About Us</a></li>
              <li><a href="./Gallery.html">Gallery</a></li>
              <li><a href="./home.html">Home</a></li>
              <li><a href="./Create-Event.html">Create Event</a></li>
              <li><a href="../contact-us.html">Contact Us</a></li>
            </ul>
          </div>
          <div class="help-link">
            <h3>Help</h3>
            <ul>
              <li><a href="../FAQ.html">FAQ</a></li>
              <li><a href="../Trems-conditions.html">Terms and conditions</a></li>
              <li><a href="">Chat with TouristGuide</a></li>
              <li><a href="../howtouse.html">How To Use</a></li>
            </ul>
          </div>
          <div class="about-us">
            <h3>About</h3>
            <ul>
              <li><a href="./feedback.html">Share History</a></li>
              <li><a href="./profile-event.html">Profile</a></li>
              <li><a href="../contact-us.html">Contact Us</a></li>
            </ul>
          </div>
    </div>
        </div>
      </div>
      <hr />
      <p class="copyright">
        Copyright © 2020 . <a href="#">Tourist Guide</a> All rights reserved
      </p>
    </footer>


   <script src="./Js/destination.js" defer></script>
</body>

</html>