<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit Profile</title>
		<link rel="stylesheet" href="./StyleSheet/edit-profile.css" />
        <link rel="stylesheet" href="./StyleSheet/nav2.css">
        <link rel="stylesheet" href="./StyleSheet/footer.css">
		<link rel="stylesheet" href="./StyleSheet/bootstrap/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/7e1812adc5.js" crossorigin="anonymous"></script>
        
	</head>
	<body>
        <header><div class="nav container d-flex justify-content-between align-items-center">
          <a
            onMouseOver="removePopup()"
            href="#"
            class="site-logo"
            aria-label="homepage"
            ><img src="logo/Black logo.svg" alt="Tourist Guide Logo"
          /></a>
          <nav class="main-nav">
          <fieldset class="search-field">
              <div class="searchMain">
                <label for="searchFood">What:</label>
                <input
                  type="text"
                  name=""
                  id="searchFood"
                  placeholder="Ex: Famous Food, Famous Place, Way Path"
                />
              </div>
              <div class="search-bar-hr">
                <p>|</p>
              </div>
              <div class="search-location">
                <label for="searchLocation">Where:</label>
                <input
                  type="text"
                  name=""
                  placeholder="Location"
                  id="searchLocation"
                />
              </div>
              <button onclick="window.location.href = 'destination.html'" class="search-btn"><i class="fas fa-search"></i></button>
            </fieldset>
          </nav>
          <nav class="account" onMouseOver="removePopup()">
            <ul class="nav__list">
              <li class="nav__list-item" onMouseOver="removePopup()">
                  <a href="home.html" class="nav__link">Home</a>
                </li>
                <li class="nav__list-item" onMouseOver="removePopup()">
                  <a href="signin.html" class="nav__link">Sign In</a>
                </li>
               
                  <li class="nav__list-item active">
                    <a href="registration.html" class="nav__link"
                      >Register</i
                    ></a>
                  </li>
            </ul>
          </nav>
        </div></header>
		<main>
            <section class="home-intro"></section>
			<div class="container  mb-5">
				<div class="row gutters ">
					<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
						<div class="card h-100">
							<div class="card-body">
								<div class="account-settings">
									<div class="user-profile">
										<div class="user-avatar">
											<img
												src="https://bootdey.com/img/Content/avatar/avatar7.png"
												alt="Maxwell Admin"
											/>
										</div>
										<h5 class="user-name">Yuki Hayashi</h5>
										<h6 class="user-email">yuki@Maxwell.com</h6>
									</div>
									<div class="about">
										<h5>About</h5>
										<p>
											I'm Yuki. Full Stack Designer I enjoy creating
											user-centric, delightful and human experiences.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
						<div class="card h-100">
							<div class="card-body">
								<div class="row gutters">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<h6 class="mb-2 text-primary">Personal Details</h6>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<div class="form-group">
											<label for="fullName">Name</label>
											<input
												type="text"
												class="form-control"
												id="fullName"
												placeholder="Enter full name"
											/>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
										<div class="form-group">
											<label for="eMail">Email</label>
											<input
												type="email"
												class="form-control"
												id="eMail"
												placeholder="Enter email ID"
											/>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3">
										<div class="form-group">
											<label for="phone">Phone</label>
											<input
												type="text"
												class="form-control"
												id="phone"
												placeholder="Enter phone number"
											/>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3">
										<div class="form-group">
											<label for="food">Favt. Food</label>
											<input
												type="url"
												class="form-control"
												id="food"
												placeholder="Favt. Food"
											/>
										</div>
									</div>
								</div>
								<div class="row gutters">
									
									<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mt-3">
										<div class="form-group">
											<label for="Place">Favt. Place</label>
											<input
												type="name"
												class="form-control"
												id="Place"
												placeholder="Favt. Place"
											/>
										</div>
									</div>
									
								</div>
								<div class="row gutters">
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="text-right mt-3">
											<button
												type="button"
												id="submit"
												name="submit"
												class="btn btn-secondary"
											>
												Cancel
											</button>
											<button
												type="button"
												id="submit"
												name="submit"
												class="btn btn-primary "
											>
												Update
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <footer>
                <div class="footer-container">
                  <div class="footer-half-container">
                    <div class="footer-logo">
                      <a href="./home.html"
                        ><img class="footer-logo" src="./logo/White Logo.svg" alt=""
                      /></a>
                    </div>
                    <article>
                      <p class="footer-article">
                        We earned a reputation of being good at what we do. Let us take
                        your online shop to new dimension in success!
                      </p>
                      <div class="footer-location">
                        <p>
                          <i class="fas fa-map-marker-alt"></i>Ashulia, Dhaka, Bnagladesh
                          1400
                        </p>
                        <p>
                          <a href="touristguide@gmail.com"
                            ><i class="far fa-envelope-open"></i
                              ></i>touristguide@gmail.com</a
                          >
                        </p>
                        <p>
                          <a href="+8801865748726"
                            ><i class="fas fa-mobile-alt"></i>+88 01865748726</a
                          >
                        </p>
                      </div>
                      <div class="footer-social-icon">
                        <a href="#"><i class="fab fa-facebook" id="active"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                      </div>
                    </article>
                  </div>
                  <div class="footer-half-container">
                    <div class="receive-update">
                      <h1>RECEIVE EMAIL UPDATES</h1>
                      <div>
                          <input type="email" placeholder="Your Email Address" required />
                      <a href="#">Join</a>
                      </div>
                    </div>
              <div class="footer-link">
                  <div class="touristguide-link">
                      <h3>Tourist Guide</h3>
                      <ul>
                        <li><a class="text-white" href="../About-us.html">About Us</a></li>
                        <li><a class="text-white" href="./Gallery.html">Gallery</a></li>
                        <li><a class="text-white" href="./home.html">Home</a></li>
                        <li><a class="text-white" href="./Create-Event.html">Create Event</a></li>
                        <li><a class="text-white" href="../contact-us.html">Contact Us</a></li>
                      </ul>
                    </div>
                    <div class="help-link">
                      <h3>Help</h3>
                      <ul>
                        <li><a class="text-white" href="../FAQ.html">FAQ</a></li>
                        <li><a class="text-white" href="../Trems-conditions.html">Terms and conditions</a></li>
                        <li><a class="text-white" href="">Chat with TouristGuide</a></li>
                        <li><a class="text-white" href="../howtouse.html">How To Use</a></li>
                      </ul>
                    </div>
                    <div class="about-us ">
                      <h3>About</h3>
                      <ul>
                        <li><a class="text-white" href="./feedback.html">Share History</a></li>
                        <li><a class="text-white" href="./profile-event.html">Profile</a></li>
                        <li><a class="text-white" href="../contact-us.html">Contact Us</a></li>
                      </ul>
                    </div>
              </div>
                  </div>
                </div>
                <hr />
                <p class="copyright mb-0">
                  Copyright © 2020 . <a href="#">Tourist Guide</a> All rights reserved
                </p>
              </footer>
		</main>
        <script src="./Js/nav2.js"></script>
	</body>
</html>
