<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./StyleSheet/full-view-image.css" />
		<link rel="stylesheet" href="./StyleSheet/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="./StyleSheet/nav2.css" />
        <link rel="stylesheet" href="./StyleSheet/footer.css">

		<link rel="stylesheet" href="./StyleSheet/full-view-image.css" />
		<script
			src="https://kit.fontawesome.com/7e1812adc5.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
        <!--navbar-->
<header> <div class="nav container d-flex justify-content-between align-items-center">
    <a
      onMouseOver="removePopup()"
      href="#"
      class="site-logo"
      aria-label="homepage"
      ><img src="logo/Black logo.svg" alt="Tourist Guide Logo"
    /></a>
    <nav class="main-nav">
    <fieldset class="search-field">
        <div class="searchMain">
          <label for="searchFood">What:</label>
          <input
            type="text"
            name=""
            id="searchFood"
            placeholder="Ex: Famous Food, Famous Place, Way Path"
          />
        </div>
        <div class="search-bar-hr">
          <p>|</p>
        </div>
        <div class="search-location">
          <label for="searchLocation">Where:</label>
          <input
            type="text"
            name=""
            placeholder="Location"
            id="searchLocation"
          />
        </div>
        <button onclick="window.location.href = 'destination.html'" class="search-btn"><i class="fas fa-search"></i></button>
      </fieldset>
    </nav>
    <nav class="account" onMouseOver="removePopup()">
      <ul class="nav__list">
        <li class="nav__list-item" onMouseOver="removePopup()">
            <a href="home.html" class="nav__link">Home</a>
          </li>
          <li class="nav__list-item" onMouseOver="removePopup()">
            <a href="signin.html" class="nav__link">Sign In</a>
          </li>
         
            <li class="nav__list-item active">
              <a href="registration.html" class="nav__link"
                >Register</i
              ></a>
            </li>
      </ul>
    </nav>
  </div></header>

		<main>
			<div class="container mb-5">
				<div class="row gutters">
					<div class="col-12">
						<div class="header home-intro">
							<h1 class="mb-0">Court Cottage in Uptown Saint Augustine</h1>
							<p class="d-flex align-items-center">
								<i class="fas fa-map-pin pe-2"></i>Location
								<span class="px-1">.</span>
								<span><u>Gulsan</u></span>
								<span><u>Motijitl</u></span>
								<span><u>Dhaka, Bangladesh</u></span>
							</p>
						</div>
					</div>
					<div class="container image-view">
						<div class="row">
							<div class="m-auto">
								<div class="showcase-wrapper d-flex align-items-center">
									<div
										class="
											thumb-previewer
											pe-5
											pt-2
											rounded
											col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12
										"
									>
										<img
											src="./image/full-view-iamge/image1.jpg"
											alt="images"
											class="img-fluid text-decoration-none"
										/>
									</div>

									<ul
										class="
											thumb-img
											d-flex
											flex-column
											align-items-center
											justify-content-center
											list-unstyled
											mt-lg-4
											col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12
										"
									>
										<li>
											<a href="./image/full-view-iamge/image1.jpg">
												<img
													src="./image/full-view-iamge/image1.jpg"
													alt="thumb-img text-decoration-none"
												/>
											</a>
										</li>
										<li>
											<a href="./image/full-view-iamge/image2.jpg">
												<img
													src="./image/full-view-iamge/image2.jpg"
													alt="thumb-img text-decoration-none"
												/>
											</a>
										</li>
										<li>
											<a href="./image/full-view-iamge/image5.jpg">
												<img
													src="./image/full-view-iamge/image5.jpg"
													alt="thumb-img text-decoration-none"
												/>
											</a>
										</li>
										<li>
											<a href="./image/full-view-iamge/image6.jpg">
												<img
													src="./image/full-view-iamge/image6.jpg"
													alt="thumb-img"
												/>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="information d-flex mt-3">
						<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 pe-5">
							<div class="header">
								<h1 class="mb-0 fw-normal">
									Entire guest suite hosted by Alexandra
								</h1>
								<p class="d-flex align-items-center">
									<span class="pe-1">7+ Restaurants</span>
									<span>|</span>
									<span class="ps-1">10+ Hotel</span>
								</p>
								<hr />
							</div>
							<div class="details">
								<div class="home d-flex">
									<p class="pe-3"><i class="fas fa-home"></i></p>
									<div>
										<h4 class="m-0">Best Hotel Services</h4>
										<p>
											Your Nearest Hotel: <u>Hotel Star International</u> ,
											<u>Hill crown Hotel</u> and <u>Resort</u>
										</p>
									</div>
								</div>

								<div class="place d-flex">
									<p class="pe-3"><i class="fas fa-map-marked-alt"></i></p>
									<div>
										<h4 class="m-0">Nearest Best Places</h4>
										<p>
											Nearest Best Places: <u>Baghmara Reserve Forest</u> ,
											<u>Siju Caves</u> , <u>Resort</u>
											<u>Siju Bird Sanctuary</u> ,
											<u>Baghmara Tyisam Festival</u>
										</p>
									</div>
								</div>
								<div class="food d-flex">
									<p class="pe-3"><i class="fas fa-utensils"></i></p>
									<div>
										<h4 class="m-0">Famous Food This Place</h4>
										<p>
											Nearest Best Food: <u>Jabbar Tea Shop</u> ,
											<u>Annado Sweets</u> and <u>Traditional Food</u>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="ccol-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
							<div class="p-4 rounded-3 shadow-md">
								<h3>
									2000/-
									<span>Per Day</span>
								</h3>
								<form action="">
									<div class="d-flex">
										<div class="checkOut w-50 border p-2 me-4">
											<label for="checkOut">Check Out</label>
											<input class="border-0" type="date" name="" id="" />
										</div>
										<div class="checkOut w-50 border p-2">
											<label for="checkOut">Check Out</label>
											<input class="border-0" type="date" name="" id="" />
										</div>
									</div>
									<div class="guestPick w-100 border p-2 mt-2 text-center">
										<label for="guestPick">Guest</label>
										<input
											class="border-0 ps-4 outline"
											type="number"
											name=""
											id=""
											placeholder="1 Person"
										/>
									</div>
									<input
										class="w-100 py-2 mt-3 rounded-2"
										type="submit"
										value="Check Availability"
									/>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
            <!--Footer-->

    <footer class="mt-5">
        <div class="footer-container">
          <div class="footer-half-container">
            <div class="footer-logo">
              <a href="./home.html"
                ><img class="footer-logo" src="./logo/White Logo.svg" alt=""
              /></a>
            </div>
            <article>
              <p class="footer-article">
                We earned a reputation of being good at what we do. Let us take
                your online shop to new dimension in success!
              </p>
              <div class="footer-location">
                <p>
                  <i class="fas fa-map-marker-alt"></i>Ashulia, Dhaka, Bnagladesh
                  1400
                </p>
                <p>
                  <a href="touristguide@gmail.com"
                    ><i class="far fa-envelope-open"></i
                      ></i>touristguide@gmail.com</a
                  >
                </p>
                <p>
                  <a href="+8801865748726"
                    ><i class="fas fa-mobile-alt"></i>+88 01865748726</a
                  >
                </p>
              </div>
              <div class="footer-social-icon">
                <a href="#"><i class="fab fa-facebook" id="active"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </article>
          </div>
          <div class="footer-half-container">
            <div class="receive-update">
              <h1>RECEIVE EMAIL UPDATES</h1>
              <div>
                  <input type="email" placeholder="Your Email Address" required />
              <a href="#">Join</a>
              </div>
            </div>
      <div class="footer-link">
          <div class="touristguide-link">
              <h3>Tourist Guide</h3>
              <ul>
                <li><a href="../About-us.html">About Us</a></li>
                <li><a href="./Gallery.html">Gallery</a></li>
                <li><a href="./home.html">Home</a></li>
                <li><a href="./Create-Event.html">Create Event</a></li>
                <li><a href="../contact-us.html">Contact Us</a></li>
              </ul>
            </div>
            <div class="help-link">
              <h3>Help</h3>
              <ul>
                <li><a href="../FAQ.html">FAQ</a></li>
                <li><a href="../Trems-conditions.html">Terms and conditions</a></li>
                <li><a href="">Chat with TouristGuide</a></li>
                <li><a href="../howtouse.html">How To Use</a></li>
              </ul>
            </div>
            <div class="about-us">
              <h3>About</h3>
              <ul>
                <li><a href="./feedback.html">Share History</a></li>
                <li><a href="./profile-event.html">Profile</a></li>
                <li><a href="../contact-us.html">Contact Us</a></li>
              </ul>
            </div>
      </div>
          </div>
        </div>
        <hr />
        <p class="copyright mb-0">
          Copyright © 2020 . <a href="#">Tourist Guide</a> All rights reserved
        </p>
      </footer>
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>
		<script src="./js/full-view-image.js"></script>
        <script src="./Js/nav2.js"></script>
	</body>
</html>
