<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Gallery - Tourist Guide</title>
   <link rel="stylesheet" href="StyleSheet/Gallery.css">

   

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">


</head>

<body>

   <header>
      <div class="nav container">
         <a
           onMouseOver="removePopup()"
           href="#"
           class="site-logo"
           aria-label="homepage"
           ><img src="logo/Black logo.svg" alt="Tourist Guide Logo"
         /></a>
         <nav class="main-nav">
         <fieldset class="search-field">
             <div class="searchMain">
               <label for="searchFood">What:</label>
               <input
                 type="text"
                 name=""
                 id="searchFood"
                 placeholder="Ex: Famous Food, Famous Place, Way Path"
               />
             </div>
             <div class="search-bar-hr">
               <p>|</p>
             </div>
             <div class="search-location">
               <label for="searchLocation">Where:</label>
               <input
                 type="text"
                 name=""
                 placeholder="Location"
                 id="searchLocation"
               />
             </div>
             <button onclick="window.location.href = 'destination.html'" class="search-btn"><i class="fas fa-search"></i></button>
           </fieldset>
         </nav>
         <nav class="account" onMouseOver="removePopup()">
           <ul class="nav__list">
             <li class="nav__list-item" onMouseOver="removePopup()">
                 <a href="home.html" class="nav__link">Home</a>
               </li>
               <li >
                 <a href="profile-event.html" class="profile-link"><img src="./image/Profile/profile.png" alt=""></a>
               </li>
               
           </ul>
         </nav>
       </div>
      


   </header>


   <!-- main class start -->
   <main onMouseOver="removePopup()" class="container">
      
      <section class="header-part home-intro">

         <div >
            <h1>People Share their Visited Stroy</h1>
         <p>Our aim is to provide you with a top-quality tour experience</p>
         </div>

      </section>
      <section class="people-visited-history">
         <div class="visited-place">

            <img src="./image/galary/‫image-1.jpg" alt="">


            <!-- people suggestion part -->
            <article class="people-review ">
               <div class="people-suggestions">
                  <div class="People-identity">
                     <img src="image/Profile/profile.png" alt="">
                     <h3>Sharmin Jahan </h3>

                  </div>
                  <div class="react-number">
                     <i class="fas fa-heart"></i>
                     <p>10 K</p>
                  </div>
               </div>


               <!-- tourist place location -->
               <div class="location">
                  <p><i class="fas fa-map-marker-alt"></i> Lalbag</p>
               </div>


               <p class="paragraph-content">Subahdar Muhammad Azam Shah Lalbagh Fort (also Fort Aurangabad) is an
                  incomplete 17th-century Mughal fort complex that stands before the Buriganga River in the southwestern
                  part of Dhaka, Bangladesh.</p>

            </article>
         </div>

         <div class="visited-place">

            <img src="./image/galary/‫image-1.jpg" alt="">


            <!-- people suggestion part -->
            <article class="people-review ">
               <div class="people-suggestions">
                  <div class="People-identity">
                     <img src="image/Profile/profile.png" alt="">
                     <h3>Sharmin Jahan </h3>

                  </div>
                  <div class="react-number">
                     <i class="fas fa-heart"></i>
                     <p>10 K</p>
                  </div>
               </div>


               <!-- tourist place location -->
               <div class="location">
                  <p><i class="fas fa-map-marker-alt"></i> Lalbag</p>
               </div>


               <p class="paragraph-content">Subahdar Muhammad Azam Shah Lalbagh Fort (also Fort Aurangabad) is an
                  incomplete 17th-century Mughal fort complex that stands before the Buriganga River in the southwestern
                  part of Dhaka, Bangladesh.</p>

            </article>
         </div>

         <div class="visited-place">

            <img src="./image/galary/‫image-1.jpg" alt="">


            <!-- people suggestion part -->
            <article class="people-review ">
               <div class="people-suggestions">
                  <div class="People-identity">
                     <img src="image/Profile/profile.png" alt="">
                     <h3>Sharmin Jahan </h3>

                  </div>
                  <div class="react-number">
                     <i class="fas fa-heart"></i>
                     <p>10 K</p>
                  </div>
               </div>


               <!-- tourist place location -->
               <div class="location">
                  <p><i class="fas fa-map-marker-alt"></i> Lalbag</p>
               </div>


               <p class="paragraph-content">Subahdar Muhammad Azam Shah Lalbagh Fort (also Fort Aurangabad) is an
                  incomplete 17th-century Mughal fort complex that stands before the Buriganga River in the southwestern
                  part of Dhaka, Bangladesh.</p>

            </article>
         </div>

         <div class="visited-place">

            <img src="./image/galary/‫image-1.jpg" alt="">


            <!-- people suggestion part -->
            <article class="people-review ">
               <div class="people-suggestions">
                  <div class="People-identity">
                     <img src="image/Profile/profile.png" alt="">
                     <h3>Sharmin Jahan </h3>

                  </div>
                  <div class="react-number">
                     <i class="fas fa-heart"></i>
                     <p>10 K</p>
                  </div>
               </div>


               <!-- tourist place location -->
               <div class="location">
                  <p><i class="fas fa-map-marker-alt"></i> Lalbag</p>
               </div>


               <p class="paragraph-content">Subahdar Muhammad Azam Shah Lalbagh Fort (also Fort Aurangabad) is an
                  incomplete 17th-century Mughal fort complex that stands before the Buriganga River in the southwestern
                  part of Dhaka, Bangladesh.</p>

            </article>
         </div>

         <div class="visited-place">

            <img src="./image/galary/‫image-1.jpg" alt="">


            <!-- people suggestion part -->
            <article class="people-review ">
               <div class="people-suggestions">
                  <div class="People-identity">
                     <img src="image/Profile/profile.png" alt="">
                     <h3>Sharmin Jahan </h3>

                  </div>
                  <div class="react-number">
                     <i class="fas fa-heart"></i>
                     <p>10 K</p>
                  </div>
               </div>


               <!-- tourist place location -->
               <div class="location">
                  <p><i class="fas fa-map-marker-alt"></i> Lalbag</p>
               </div>


               <p class="paragraph-content">Subahdar Muhammad Azam Shah Lalbagh Fort (also Fort Aurangabad) is an
                  incomplete 17th-century Mughal fort complex that stands before the Buriganga River in the southwestern
                  part of Dhaka, Bangladesh.</p>

            </article>
         </div>
         
         <div class="visited-place">

            <img src="./image/galary/‫image-1.jpg" alt="">


            <!-- people suggestion part -->
            <article class="people-review ">
               <div class="people-suggestions">
                  <div class="People-identity">
                     <img src="image/Profile/profile.png" alt="">
                     <h3>Sharmin Jahan </h3>

                  </div>
                  <div class="react-number">
                     <i class="fas fa-heart"></i>
                     <p>10 K</p>
                  </div>
               </div>


               <!-- tourist place location -->
               <div class="location">
                  <p><i class="fas fa-map-marker-alt"></i> Lalbag</p>
               </div>


               <p class="paragraph-content">Subahdar Muhammad Azam Shah Lalbagh Fort (also Fort Aurangabad) is an
                  incomplete 17th-century Mughal fort complex that stands before the Buriganga River in the southwestern
                  part of Dhaka, Bangladesh.</p>

            </article>
         </div>

         <div class="visited-place">

            <img src="./image/galary/‫image-1.jpg" alt="">


            <!-- people suggestion part -->
            <article class="people-review ">
               <div class="people-suggestions">
                  <div class="People-identity">
                     <img src="image/Profile/profile.png" alt="">
                     <h3>Sharmin Jahan </h3>

                  </div>
                  <div class="react-number">
                     <i class="fas fa-heart"></i>
                     <p>10 K</p>
                  </div>
               </div>


               <!-- tourist place location -->
               <div class="location">
                  <p><i class="fas fa-map-marker-alt"></i> Lalbag</p>
               </div>


               <p class="paragraph-content">Subahdar Muhammad Azam Shah Lalbagh Fort (also Fort Aurangabad) is an
                  incomplete 17th-century Mughal fort complex that stands before the Buriganga River in the southwestern
                  part of Dhaka, Bangladesh.</p>

            </article>
         </div>

         <div class="visited-place">

            <img src="./image/galary/‫image-1.jpg" alt="">


            <!-- people suggestion part -->
            <article class="people-review ">
               <div class="people-suggestions">
                  <div class="People-identity">
                     <img src="image/Profile/profile.png" alt="">
                     <h3>Sharmin Jahan </h3>

                  </div>
                  <div class="react-number">
                     <i class="fas fa-heart"></i>
                     <p>10 K</p>
                  </div>
               </div>


               <!-- tourist place location -->
               <div class="location">
                  <p><i class="fas fa-map-marker-alt"></i> Lalbag</p>
               </div>


               <p class="paragraph-content">Subahdar Muhammad Azam Shah Lalbagh Fort (also Fort Aurangabad) is an
                  incomplete 17th-century Mughal fort complex that stands before the Buriganga River in the southwestern
                  part of Dhaka, Bangladesh.</p>

            </article>
         </div>

         <div class="visited-place">

            <img src="./image/galary/‫image-1.jpg" alt="">


            <!-- people suggestion part -->
            <article class="people-review ">
               <div class="people-suggestions">
                  <div class="People-identity">
                     <img src="image/Profile/profile.png" alt="">
                     <h3>Sharmin Jahan </h3>

                  </div>
                  <div class="react-number">
                     <i class="fas fa-heart"></i>
                     <p>10 K</p>
                  </div>
               </div>


               <!-- tourist place location -->
               <div class="location">
                  <p><i class="fas fa-map-marker-alt"></i> Lalbag</p>
               </div>


               <p class="paragraph-content">Subahdar Muhammad Azam Shah Lalbagh Fort (also Fort Aurangabad) is an
                  incomplete 17th-century Mughal fort complex that stands before the Buriganga River in the southwestern
                  part of Dhaka, Bangladesh.</p>

            </article>
         </div>

         <div class="visited-place">

            <img src="./image/galary/‫image-1.jpg" alt="">


            <!-- people suggestion part -->
            <article class="people-review ">
               <div class="people-suggestions">
                  <div class="People-identity">
                     <img src="image/Profile/profile.png" alt="">
                     <h3>Sharmin Jahan </h3>

                  </div>
                  <div class="react-number">
                     <i class="fas fa-heart"></i>
                     <p>10 K</p>
                  </div>
               </div>


               <!-- tourist place location -->
               <div class="location">
                  <p><i class="fas fa-map-marker-alt"></i> Lalbag</p>
               </div>


               <p class="paragraph-content">Subahdar Muhammad Azam Shah Lalbagh Fort (also Fort Aurangabad) is an
                  incomplete 17th-century Mughal fort complex that stands before the Buriganga River in the southwestern
                  part of Dhaka, Bangladesh.</p>

            </article>
         </div>

         <div class="visited-place">

            <img src="./image/galary/‫image-1.jpg" alt="">


            <!-- people suggestion part -->
            <article class="people-review ">
               <div class="people-suggestions">
                  <div class="People-identity">
                     <img src="image/Profile/profile.png" alt="">
                     <h3>Sharmin Jahan </h3>

                  </div>
                  <div class="react-number">
                     <i class="fas fa-heart"></i>
                     <p>10 K</p>
                  </div>
               </div>


               <!-- tourist place location -->
               <div class="location">
                  <p><i class="fas fa-map-marker-alt"></i> Lalbag</p>
               </div>


               <p class="paragraph-content">Subahdar Muhammad Azam Shah Lalbagh Fort (also Fort Aurangabad) is an
                  incomplete 17th-century Mughal fort complex that stands before the Buriganga River in the southwestern
                  part of Dhaka, Bangladesh.</p>

            </article>
         </div>


         <div class="visited-place">

            <img src="./image/galary/‫image-1.jpg" alt="">


            <!-- people suggestion part -->
            <article class="people-review ">
               <div class="people-suggestions">
                  <div class="People-identity">
                     <img src="image/Profile/profile.png" alt="">
                     <h3>Sharmin Jahan </h3>

                  </div>
                  <div class="react-number">
                     <i class="fas fa-heart"></i>
                     <p>10 K</p>
                  </div>
               </div>


               <!-- tourist place location -->
               <div class="location">
                  <p><i class="fas fa-map-marker-alt"></i> Lalbag</p>
               </div>


               <p class="paragraph-content">Subahdar Muhammad Azam Shah Lalbagh Fort (also Fort Aurangabad) is an
                  incomplete 17th-century Mughal fort complex that stands before the Buriganga River in the southwestern
                  part of Dhaka, Bangladesh.</p>

            </article>
         </div>

      </section>


      <div class="pagination-buttons">


      </div>

      




   </main>

   <footer>
      <div class="footer-container">
         <div class="footer-half-container">
            <div class="footer-logo">
               <a href="#"><img class="footer-logo" src="./logo/White Logo.svg" alt="" /></a>
            </div>
            <article>
               <p class="footer-article">
                  We earned a reputation of being good at what we do. Let us take
                  your online shop to new dimension in success!
               </p>
               <div class="footer-location">
                  <p>
                     <i class="fas fa-map-marker-alt"></i>Ashulia, Dhaka, Bnagladesh
                     1400
                  </p>
                  <p>
                     <a href="touristguide@gmail.com"><i class="far fa-envelope-open"></i></i>touristguide@gmail.com</a>
                  </p>
                  <p>
                     <a href="+8801865748726"><i class="fas fa-mobile-alt"></i>+88 01865748726</a>
                  </p>
               </div>
               <div class="footer-social-icon">
                  <a href="#"><i class="fab fa-facebook" id="active"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
               </div>
            </article>
         </div>
         <div class="footer-half-container">
            <div class="receive-update">
               <h1>RECEIVE EMAIL UPDATES</h1>
               <div>
                  <input type="email" placeholder="Your Email Address" required />
                  <a href="#">Join</a>
               </div>
            </div>
            <div class="footer-link">
               <div class="touristguide-link">
                  <h3>Tourist Guide</h3>
                  <ul>
                     <li><a href="">About Us</a></li>
                     <li><a href="">Gallery</a></li>
                     <li><a href="">Home</a></li>
                     <li><a href="">Create Event</a></li>
                     <li><a href="">Contact Us</a></li>
                  </ul>
               </div>
               <div class="help-link">
                  <h3>Help</h3>
                  <ul>
                     <li><a href="">FAQ</a></li>
                     <li><a href="">Terms and conditions</a></li>
                     <li><a href="">Chat with ToursitGuide</a></li>
                     <li><a href="">How To Use</a></li>
                  </ul>
               </div>
               <div class="about-us">
                  <h3>About</h3>
                  <ul>
                     <li><a href="">Share History</a></li>
                     <li><a href="">Profile</a></li>
                     <li><a href="">Contact Us</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <hr />
      <p class="copyright">
         Copyright © 2020 . <a href="#">Tourist Guide</a> All rights reserved
      </p>
   </footer>


   <script src="js/gallery.js" defer>
   </script>

</body>


</html>