<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:division_page' %}">
        <i class="far fa-location"></i>
        <span>Division</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:district_page' %}">
        <i class="far fa-location"></i>
        <span>District</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:sub_district_page' %}">
        <i class="far fa-location"></i>
        <span>Sub District</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:tourist_place' %}">
        <i class="far fa-map-marked"></i>
        <span>Tourist Place</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:place_order_view' %}">
        <i class="fas fa-dollar-sign"></i>
        <span>Place OrderList</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:top_rated_place' %}">
        <i class="fas fa-globe-asia"></i>
        <span>Top Rated Place</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:top_rated_place_order_view' %}">
        <i class="fas fa-dollar-sign"></i>
        <span>Top Rated Place OrderList</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:manage_hotel' %}">
        <i class="fas fa-hotel"></i>
        <span>Hotel Management</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:manage_food' %}">
        <i class="fas fa-utensils"></i>
        <span>Famous Food Management</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:manage_nearest_place' %}">
        <i class="fas fa-paper-plane"></i>
        <span>Nearest Place Management</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:view_guider' %}">
        <i class="fas fa-users"></i>
        <span>Guider Management</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'App_Admin:view_hireguider' %}">
        <i class="fas fa-users"></i>
        <span>Hire Guider</span>
    </a>
</li>
