<div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Total User</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ all_user.count }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Total Guider</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ all_guider.count }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x text-info"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Total Place Order</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ all_place_order.count }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-map-signs fa-2x text-danger"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

<div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Total Top Place Order</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ all_top_place_order.count }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-map-signs fa-2x text-success"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Total Guider Order</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ all_guider_order.count }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-newspaper fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
