{% extends 'App_Admin/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-6  m-0 m-auto">
    {%for message in messages %}
        {%if "division_add" in message.tags %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endif %}
        {%if "division_delete" in message.tags %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endif %}
        {%if "division_update" in message.tags %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="container">
          <div class="row mb-3">
          <div class="col-lg-6 m-0 m-auto">
              <div class="card p-4 mb-4">
              <h2>Update Division</h2>
              <form method="post" action="">{% csrf_token %}
                  {{ form|crispy }}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <button type="submit" class="btn btn-primary">Update</button>
              </form>
                </div>
          </div>
          <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Division Table</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Action</th>
                      </tr>

                    </thead>
                    <tbody>
                    {% for g in division_data %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ g.name }}</td>
                        <td>
                          <button style="border: none;background: no-repeat;outline: none;" data-toggle="modal" value="{{ g.id }}" data-target="#delete_division">
                                <i class="fa fa-trash text-danger"></i></button>
                            <a href="{% url 'App_Admin:division_update' g.id %}"><i class="text-primary fas fa-fw fa-edit" style="color: #801d3b;"></i></a>
                        </td>
                      </tr>
                     {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    $("button").click(function() {
    var fired_button = $(this).val();
    document.getElementById("division_delc").value = fired_button;

});
</script>
<div class="modal fade" id="delete_division" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form  action="{% url 'App_Admin:division_delete' %}" method="post">{% csrf_token %}
                    <h3 class="text-center text-danger">Delete Division</h3><br>
                    <p class="text-center text-success">Are you sure you want to delete this Division?</p>
                    <input name="division_delc" id="division_delc" value="" type="hidden">
                    <div class="clearfix text-center">
                        <button type="button" data-dismiss="modal" class="cancelbtn btn btn-success">Cancel</button>
                        <button type="submit" class="deletebtn btn btn-danger">Delete</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}