{% extends 'App_Admin/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12  m-0 m-auto">
    {%for message in messages %}
        {%if "delete_guider" in message.tags %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="container">
          <div class="row mb-3">
          <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Guider List</h6>
                  <a class="float-right btn btn-primary" href="{% url 'App_Admin:add_guider' %}">Add New</a>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Hourly Rate</th>
                        <th>Action</th>
                      </tr>

                    </thead>
                    <tbody>
                    {% for g in all_guider %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ g.name }}</td>
                        <td>{{ g.designation }}</td>
                        <td>{{ g.hourly_rate }}</td>
                        <td>
                          <button style="border: none;background: no-repeat;outline: none;" data-toggle="modal" value="{{ g.id }}" data-target="#guider_delete">
                                <i class="fa fa-trash text-danger"></i></button>
                            <a href="{% url 'App_Admin:update_guider' g.id %}"><i class="text-primary fas fa-fw fa-edit" style="color: #801d3b;"></i></a>
                        </td>
                      </tr>
                     {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    $("button").click(function() {
    var fired_button = $(this).val();
    document.getElementById("guider_id").value = fired_button;

});
</script>
<div class="modal fade" id="guider_delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form  action="{% url 'App_Admin:delete_guider' %}" method="post">{% csrf_token %}
                    <h3 class="text-center text-danger">Delete Guider Profile</h3><br>
                    <p class="text-center text-success">Are you sure you want to delete this guider?</p>
                    <input name="guider_id" id="guider_id" value="" type="hidden">
                    <div class="clearfix text-center">
                        <button type="button" data-dismiss="modal" class="cancelbtn btn btn-success">Cancel</button>
                        <button type="submit" class="deletebtn btn btn-danger">Delete</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}