{% extends 'App_Admin/base.html' %}
{% load static %}
{% block content %}
 <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>

          <div class="row mb-3">
                 {% include 'App_Admin/admin_record_view.html' %}
          </div>
          <!--Row-->

          <!-- Modal Logout -->


        </div>
{% endblock %}