{% extends 'App_Admin/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-8  m-0 m-auto">
    {%for message in messages %}
        {%if "update_place_order" in message.tags %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="container">
    <div class="row mb-3">
          <div class="col-lg-8 m-0 m-auto">
              <div class="card p-4 mb-4">
              <h2>Update Order</h2>
              <form method="post" id="TouristForm" action="{% url 'App_Admin:update_place_order' single_place.id %}"novalidate>{% csrf_token %}
                  {{ form|crispy }}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <button type="submit" class="btn btn-primary">Update</button>
              </form>
                </div>
          </div>
    </div>

</div>
{% endblock %}